<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>   
	<!-- Extension-points -->
	   	
   <extension-point 
   		id="loginstatelistener" 
   		name="Login State Listener" 
   		schema="schema/loginstatelistener.exsd"
   	/>
   	
<!-- I think, these are really not necessary anymore...		
   <extension-point 
   		id="person_edit_personDataFieldEditorFactory" 
   		name="Defines a editor factory for a specific subclass of AbstractPersonDataField" 
   		schema="schema/person_edit_personDataFieldEditorFactory.exsd"
   	/>
   	
   <extension-point 
   		id="person_edit_specializedDataBlockEditor" 
   		name="Specialized PersonDataBlockEditors" 
   		schema="schema/person_edit_specializedDataBlockEditor.exsd"
   	/>
-->

   <extension-point 
	   id="configsetupvisualiser" 
	   name="ConfigSetupVisualiser extension-point" 
	   schema="schema/configsetupvisualiser.exsd"
	/>
   
	
   <extension-point 
	   id="specialisedDataBlockEditor" 
	   name="Specialised PropDataBlockEditors" 
	   schema="schema/specialisedDataBlockEditor.exsd"
	/>
	
   <extension-point 
	   id="propDataFieldEditorFactory" 
	   name="Defines a editor factory for a specific subclass of AbstractPersonDataField" 
	   schema="schema/propDataFieldEditorFactory.exsd"
	/>
	
   <extension-point 
	   id="propStructField" 
	   name="propStructField" 
	   schema="schema/propStructField.exsd"
	/>
   <extension-point id="overview" name="overview" schema="schema/overview.exsd"/>
	
	
   <!-- Extensions -->	
   
   <!-- 
        Pruduct and application.
        Main entry to the workbench and branding.
   -->
		
   <extension
         point="org.eclipse.core.runtime.applications"
         id="app"
         name="%appName">
      <application>
         <run
            class="org.nightlabs.jfire.base.app.JFireApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products"
         id="product">
      <product
            application="org.nightlabs.jfire.base.app"
            name="%swtAppName">
         <property
               name="appName"
               value="%swtAppName"/>
         <property
               name="windowImages"
               value="icons/JFire-Logo.16x16.png"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="icons/JFire-Logo.16x16.png"/>
		 <property 
			   name="preferenceCustomization" 
			   value="plugin_customization.ini"/>   
      </product>
   </extension>

   <!-- Perspectives and Views
   -->
   <extension
         point="org.eclipse.ui.perspectives">

      <perspective
            icon="icons/JFire-Icon.16x16.png"
            class="org.nightlabs.jfire.base.JFireWelcomePerspective"
            fixed="false"
            name="%perspectives.jfireWelcome.name"
            id="org.nightlabs.jfire.base.perspective.JFireWelcomePerspective"/>

      <perspective
            class="org.nightlabs.jfire.base.overview.OverviewPerspective"
            fixed="true"
            icon="icons/overview/overview.16x16.png"
            id="org.nightlabs.jfire.base.overview.OverviewPerspective"
            name="%perspectives.overview.name">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <!--
      <category
            name="%views.welcome.category.name"
            id="org.nightlabs.jfire.base.welcomecategory">
      </category>
      <view
            name="%views.welcome.name"
            icon="icons/JFire-Icon.16x16.png"
            category="org.nightlabs.jfire.base.welcomecategory"
            class="org.nightlabs.jfire.base.JFireWelcomeView"
            id="org.nightlabs.jfire.base.view.JFireWelcomeView">
      </view>
      -->
      <view
            allowMultiple="false"
            category="org.nightlabs.jfire.base.overview.Overview"
            class="org.nightlabs.jfire.base.overview.OverviewView"
            icon="icons/overview/overview.16x16.png"
            id="org.nightlabs.jfire.base.overview.OverviewView"
            name="%views.overview.name">
      </view>
      <category
            id="org.nightlabs.jfire.base.overview.Overview"
            name="%views.overview.category.name">
      </category>
   </extension>   

   <!-- Actions 
   -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Login Action Set"
            visible="true"
            id="org.nightlabs.jfire.base.login.actions">
         <menu
               label="%login.menu.label"
               id="loginMenu">
            <separator
                  name="loginGroup">
            </separator>
         </menu>
         <action
               class="org.nightlabs.jfire.base.login.action.LoginAction"
               icon="icons/login/action/LoginAction-Login.24x24.png"
               id="org.nightlabs.jfire.base.login.actions.LoginAction#toolbar"
               label="%login.action.label"
               toolbarPath="loginGroup"
               tooltip="%login.action.toolTip">
         </action>
         <action
               class="org.nightlabs.jfire.base.login.action.LoginAction"
               icon="icons/login/action/LoginAction-Login.16x16.png"
               id="org.nightlabs.jfire.base.login.actions.LoginAction#menu"
               label="%login.action.label"
               menubarPath="loginMenu/loginGroup"
               tooltip="%login.action.toolTip">
         </action>
      </actionSet>
   </extension>   

   <!-- ExceptionHandler
   -->


	<!-- Person preferences pages -->
	<extension
    	point="org.eclipse.ui.preferencePages">
    	<page
		name="%person.preferences.pages.PersonManagement.name"
		class="org.nightlabs.jfire.base.person.preferences.PersonManagementPreferencePage"
		id="org.nightlabs.jfire.person.preferences.PersonManagementPreferencePage">
      </page>
      <page
            name="%person.preferences.pages.PersonStructOrder.name"
            category="org.nightlabs.jfire.person.preferences.PersonManagementPreferencePage"
            class="org.nightlabs.jfire.base.person.preferences.PersonStructOrderPreferencePage"
            id="org.nightlabs.jfire.person.preferences.PersonStructOrderPreferencePage">
      </page>  
      <page
            name="Feature Set"
            category=""
            class="org.nightlabs.jfire.base.workstation.WorkstationFeaturesPreferencePage"
            id="org.nightlabs.jfire.base.workstation.WorkstationFeaturesPreferencePage">
      </page>  
	</extension>

	
 	<!-- PersonDataFieldEditor extensions bock-based -->
	
 	<!-- PersonDataFieldEditor extensions field-based-disguised -->
 
 	<!-- Specialized PersonDataBlockEditors extensions -->
<!-- I think, that fleque deleted these, is fine :-)
 	<extension
       id="org.nightlabs.jfire.person.edit.blockbased.special.PersonalDataBlockEditor"
       point="org.nightlabs.jfire.base.person_edit_specializedDataBlockEditor">
    <specializedDataBlockEditor
          class="org.nightlabs.jfire.base.person.edit.blockbased.special.PersonalDataBlockEditor$Factory"
	/>
    <specializedDataBlockEditor class="org.nightlabs.jfire.base.person.edit.blockbased.special.CommentDataBlockEditor$Factory"/>
	</extension>
-->
	
  <extension
        point="org.nightlabs.jfire.base.loginstatelistener">
     <loginStateListener class="org.nightlabs.jfire.base.language.LanguageWatcher"/>
  </extension>
<!--
  This is registered now by the class Login programmatically, because this Interceptor is on the server and the SelectionManager
  might be used already while still being offline. This would cause a ClassNotFoundException.
  <extension
        point="org.nightlabs.base.notificationinterceptor">
     <notificationInterceptor
           class="org.nightlabs.jfire.base.jdo.JDOObjectID2PCClassNotificationInterceptor"
           name="JDO ObjectID to PersistenceCapable Interceptor"/>
  </extension>
-->
	
  <extension
        point="org.nightlabs.jfire.base.configsetupvisualiser">
     <visualiser
           class="org.nightlabs.jfire.base.config.UserCSVisualiser"
           configSetupType="org.nightlabs.jfire.config.UserConfigSetup"/>
     <visualiser
           class="org.nightlabs.jfire.base.config.WorkstationCSVisualiser"
           configSetupType="org.nightlabs.jfire.config.WorkstationConfigSetup"/>
  </extension>
	
  <extension
        point="org.nightlabs.base.cache">
     <cacheFactory class="org.nightlabs.jfire.base.jdo.cache.CacheFactory"/>
  </extension>

	

  <!-- Prop extensions -->
   <extension
         point="org.nightlabs.jfire.base.propStructField">
      <propStructField
            class="org.nightlabs.jfire.prop.structfield.TextStructField"
            description="Simple field for textual input"
            editorFactoryClass="org.nightlabs.jfire.base.prop.structedit.TextStructFieldEditor$TextStructFieldEditorFactory"
            factoryClass="org.nightlabs.jfire.base.prop.structedit.TextStructFieldFactory"
            name="Text field"/>
      <propStructField
            class="org.nightlabs.jfire.prop.structfield.SelectionStructField"
            description="Field that lets the user select from a predefined domain of values"
            editorFactoryClass="org.nightlabs.jfire.base.prop.structedit.SelectionStructFieldEditor$SelectionStructFieldEditorFactory"
            factoryClass="org.nightlabs.jfire.base.prop.structedit.SelectionStructFieldFactory"
            name="Selection field"/>
      <propStructField
            class="org.nightlabs.jfire.prop.structfield.RegexStructField"
            description="Field that allows to restrict the given input by a regular expression."
            editorFactoryClass="org.nightlabs.jfire.base.prop.structedit.RegexStructFieldEditor$RegexStructFieldEditorFactory"
            factoryClass="org.nightlabs.jfire.base.prop.structedit.RegexStructFieldFactory"
            name="Regex field"/>
      <propStructField
            class="org.nightlabs.jfire.prop.structfield.NumberStructField"
            description="Simple field for numerical input"
            editorFactoryClass="org.nightlabs.jfire.base.prop.structedit.NumberStructFieldEditor$NumberStructFieldEditorFactory"
            factoryClass="org.nightlabs.jfire.base.prop.structedit.NumberStructFieldFactory"
            name="Number field"/>
      <propStructField
            class="org.nightlabs.jfire.prop.structfield.ImageStructField"
            description="Field for adding image data"
            editorFactoryClass="org.nightlabs.jfire.base.prop.structedit.ImageStructFieldEditor$ImageStructFieldEditorFactory"
            factoryClass="org.nightlabs.jfire.base.prop.structedit.ImageStructFieldFactory"
            name="Image field"/>
       <propStructField
            class="org.nightlabs.jfire.prop.structfield.DateStructField"
            description="Field for inputting absolute times/dates."
            editorFactoryClass="org.nightlabs.jfire.base.prop.structedit.DateStructFieldEditor$DateStructFieldEditorFactory"
            factoryClass="org.nightlabs.jfire.base.prop.structedit.DateStructFieldFactory"
            name="Date field"/>
       <propStructField
            class="org.nightlabs.jfire.prop.structfield.PhoneNumberStructField"
            description="Field for inputting phone numbers."
            editorFactoryClass="org.nightlabs.jfire.base.prop.structedit.DefaultStructFieldEditor$DefaultStructFieldEditorFactory"
            factoryClass="org.nightlabs.jfire.base.prop.structedit.PhoneNumberStructFieldFactory"
            name="Phone number field"/>
      <propStructField
            class="org.nightlabs.jfire.prop.structfield.I18nTextStructField"
            description="Field for multilingual textual input"
            editorFactoryClass="org.nightlabs.jfire.base.prop.structedit.I18nTextStructFieldEditor$I18nTextStructFieldEditorFactory"
            factoryClass="org.nightlabs.jfire.base.prop.structedit.I18nTextStructFieldFactory"
            name="I18n Text field"/>
            
   </extension>
 	<extension
       id="org.nightlabs.jfire.person.edit.blockbased.special.PersonalDataBlockEditor"
       point="org.nightlabs.jfire.base.specialisedDataBlockEditor">
    	<specialisedDataBlockEditor
          class="org.nightlabs.jfire.base.person.edit.blockbased.special.PersonalDataBlockEditor$Factory"
		/>
    	<specialisedDataBlockEditor
          class="org.nightlabs.jfire.base.person.edit.blockbased.special.CommentDataBlockEditor$Factory"
		/>
	</extension>
   <extension
         point="org.nightlabs.jfire.base.propDataFieldEditorFactory">
      <propDataFieldEditorFactory
            class="org.nightlabs.jfire.base.prop.edit.blockbased.TextDataFieldEditor$Factory"/>
      <propDataFieldEditorFactory
            class="org.nightlabs.jfire.base.prop.edit.blockbased.SelectionDataFieldEditor$Factory">
      </propDataFieldEditorFactory>
      <propDataFieldEditorFactory
            class="org.nightlabs.jfire.base.prop.edit.blockbased.ImageDataFieldEditor$Factory">
      </propDataFieldEditorFactory>
      <propDataFieldEditorFactory
            class="org.nightlabs.jfire.base.prop.edit.blockbased.DateDataFieldEditor$Factory">
      </propDataFieldEditorFactory>
      <propDataFieldEditorFactory
            class="org.nightlabs.jfire.base.prop.edit.blockbased.NumberDataFieldEditor$Factory">
      </propDataFieldEditorFactory>
      <propDataFieldEditorFactory
            class="org.nightlabs.jfire.base.prop.edit.blockbased.RegexDataFieldEditor$Factory">
      </propDataFieldEditorFactory>
      <propDataFieldEditorFactory
            class="org.nightlabs.jfire.base.prop.edit.blockbased.PhoneNumberDataFieldEditor$PhoneNumberDataFieldEditorFactory">
      </propDataFieldEditorFactory>
      <propDataFieldEditorFactory
            class="org.nightlabs.jfire.base.prop.edit.blockbased.I18nTextDataFieldEditor$Factory"/>
   </extension>
   <extension
         point="org.nightlabs.base.login">
      <login class="org.nightlabs.jfire.base.login.LoginDelegate"/>
   </extension>		
   
   <extension
         point="org.nightlabs.base.removeExtension">
      <removeExtension
            attributeName="id"
            attributePattern="org.eclipse.ui.edit.text.actionSet.navigation"
            elementPath="actionSet"
            extensionPointID="org.eclipse.ui.actionSets"/>
      <removeExtension
            attributeName="id"
            attributePattern="org.eclipse.ui.edit.text.actionSet.convertLineDelimitersTo"
            elementPath="actionSet"
            extensionPointID="org.eclipse.ui.actionSets"/>
      <removeExtension
            attributeName="id"
            attributePattern="org.eclipse.ui.WorkingSetActionSet"
            elementPath="actionSet"
            extensionPointID="org.eclipse.ui.actionSets"/>
      <removeExtension
            attributeName="id"
            attributePattern=".*eclipse.*resource.*"
            elementPath="perspective"
            extensionPointID="org.eclipse.ui.perspectives"/>
   </extension>
   <extension
         point="org.nightlabs.jfire.base.j2ee.remoteResourceFilter">
      <exclusion pattern="org.nightlabs.jfire.base.exclusion1"/>
   </extension>
   <extension
         point="org.nightlabs.jfire.base.overview">
      <categoryEntry
            categoryEntryID="org.nightlabs.jfire.base.categoryEntry1"
            categoryID="org.nightlabs.jfire.base.categoryEntry1"
            entry="org.nightlabs.jfire.base.EntryFactory1"
            name="org.nightlabs.jfire.base.categoryEntry1"/>
      <category
            categoryID="org.nightlabs.jfire.base.category1"
            name="org.nightlabs.jfire.base.category1"/>
   </extension>
</plugin>
